* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --background-color: #f1e0d1;
    --title-color: #FFD405;
    --main-color: #700027;
    --lettering-color: #4d0b16;
    --title-font: "Aguafina Script";
    --text-font: 'Stint Ultra Condensed', cursive;
}

body {
    background-color: var(--background-color)
}

main {
    margin: 1.2rem 3rem 1.2rem;
}

.nav-bar {
    background-color: var(--main-color); 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.8vw solid var(--title-color);
}

li { 
    text-align: center;
    padding: 3vw 0;
}     

a {
    text-decoration: none;
    color: var(--title-color);
    font-weight: 600;
    font-family: var(--text-font);
    font-size: 5vw;
}

a:active {
    color: #e6de79;
}

.logo a {
    color: #e6de79;
    font-family: var(--title-font);
}

.logo {
    margin-left: 0;
    font-size: 6vw;
    text-align: left; 
    font-family: var(--title-font);
    line-height: 6vw;
}

h1 {
    font-family: var(--title-font);
    font-size: 9vw;
    color: var(--lettering-color);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

table {
    border: 2px solid;
    width: 100%;
    border-color: var(--title-color);
}
  
th {
    background-color: var(--title-color);
    font-size: 1rem;
    color: var(--lettering-color);
}
  
td {
    text-align: center;
    font-size: 1rem;
    color: rgb(44, 40, 40);
    padding: 1rem 0;
    color: var(--lettering-color);
}
  
.color1 {
    background-color: white;
}
  
.color2 {
    background-color: rgb(238, 235, 208);
}

.crown {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

footer {
    background-color: var(--main-color);
}

footer img {
    width: 19%;
    height: auto;
    padding: 3% 5%;
}

#footer-text {
    color: var(--title-color);
    font-size: 4vw;
    font-weight: 700;
    font-family: var(--text-font);
}

@media screen and (min-width: 850px) { 
    nav ul {
        border-bottom: 0.45vw solid var(--title-color);
        justify-content: space-between;
    }

    a {
        font-weight: 400;
        font-size: 2.5rem;
    }

    li {
        padding: 0.5rem;
    }

    .logo a {
        font-size: 3rem;
        font-family: var(--title-font);
        font-weight: 300;
    }

    h1 {
        font-size: 5rem;
    }

    th, td {
        font-size: 1.8rem;
    }

    .crown {
        width: 15%;
    }

    footer img {
        width: 5%;
        height: auto;
        padding: 1.5% 1% 1.5% 1%;
        align: center;
    }
    
    #footer-text {
        font-size: 1.3rem;
    }
}