* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --background-color: #f1e0d1;
    --title-color: #FFD405;
    --main-color: #700027;
    --lettering-color: #4d0b16;
    --title-font: "Aguafina Script";
    --text-font: 'Stint Ultra Condensed', cursive;
}

body {
    background-color: var(--background-color)
}  

.nav-bar {
    background-color: var(--main-color); 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.8vw solid var(--title-color);
}

li { 
    text-align: center;
    padding: 3vw 0;
}     

a {
    text-decoration: none;
    color: var(--title-color);
    font-weight: 600;
    font-family: var(--text-font);
    font-size: 5vw;
}

a:active {
    color: #e6de79;
}

.logo a {
    color: #e6de79;
    font-family: var(--title-font);
}

.logo {
    margin-left: 0;
    font-size: 6vw;
    text-align: left; 
    font-family: var(--title-font);
    line-height: 6vw;
}

.banner {
    background-image: url("src/castle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8vw 0;
}

h1 {
    font-family: var(--title-font);
    text-align: center;
    font-size: 11vw;
    color: var(--title-color);
    opacity: 80%;
}

.history, .hero, .royal-family {
    margin: 10vw 6vw 4vw 6vw;
}

h2 {
    margin-bottom: 1vw;
    padding-left: 4vw;
    font-family: var(--title-font);
    font-size: 9vw;
    color: var(--lettering-color);
}

.text {
    text-align: justify;
    margin-bottom: 3vw;
    font-family: var(--text-font);
    font-size: 5vw;
}

#author {
    font-weight: 600;
    width: 100%;
    text-align: right;
    color: var(--main-color);
    font-family: var(--title-font);
    font-size: 5vw;
}

a.learn {
    text-align: right;
    margin-bottom: 3vw;
    margin-left: 4rem;
    color: var(--main-color);
}

a.learn:active {
    color: var(--title-color);
}

.library {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 30px;
}

div.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 10%;
}

div.img-container img {
    width: 100%;
    border-radius: 30px;
    padding: 1rem;
}

footer {
    background-color: var(--main-color);
}

footer img {
    width: 19%;
    height: auto;
    padding: 3% 5%;
}

#footer-text {
    color: var(--title-color);
    font-size: 4vw;
    font-weight: 700;
    font-family: var(--text-font);
}

@media screen and (min-width: 850px) { 
    nav ul {
        border-bottom: 0.45vw solid var(--title-color);
        justify-content: space-between;
    }

    a {
        font-weight: 400;
        font-size: 2.5rem;
    }

    li {
        padding: 0.5rem;
    }

    .logo a {
        font-size: 3rem;
        font-family: var(--title-font);
        font-weight: 300;
    }

    .banner {
        padding: 4rem;
        background-size: cover;
        background-position: center;
    }
    
    h1 {
        font-size: 5rem;
        opacity: 100%;
        color: #e8bd14;
        font-weight: 900;
        margin: 7rem;
    }

    .history {
        margin: 2rem 4rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .title-history {
        grid-column: 1 / 2;
    }

    .hero, .royal-family {
        margin: 2rem 6rem ;
    }


    h2 {
        font-size: 3rem;
    }

    .text {
        font-size: 2rem;
        grid-column: 1 / 2;
    }

    #author {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .library {
        width: 23rem;
        margin-left: 3.5rem;
        grid-column: 2 / 3;
        align-self: start;
    }

    div.img-container img {
        border-radius: 50px;
        width: 90%;
    }

    footer img {
        width: 5%;
        height: auto;
        padding: 1.5% 1% 1.5% 1%;
        align: center;
    }
    
    #footer-text {
        font-size: 1.3rem;
    }
}